.switch {
    position: relative;
    display: inline-block;
    width: 40px;
    height: 35px;
  }
  
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: #ffffff; */
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 18px;
    width: 20px;
    left: 2px;
    bottom: -1.5px;
    background-color: #0000ff;
    -webkit-transition: .4s;
    transition: .4s;
  }

  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  .navbar-brand{
    margin-top: 20px !important;
}

.goog-te-gadget-simple {
  white-space: nowrap;
background-color: #ffffff !important;
border: 0 !important;
font-size: 10pt;
/* font-weight: 800; */
display: inline-block;
padding: 10px 10px !important;
cursor: pointer;
zoom: 1;
}




/* CSS used here will be applied after bootstrap.css */

.dropdown {
    display:inline-block;
    /* margin-left:20px;
    padding:10px; */
  }


.glyphicon-bell {
   
    font-size:1.5rem;
  }

.notifications {
   min-width:420px; 
  }
  
  .notifications-wrapper {
     overflow:hidden;
      max-height:250px;
    }
    
 .menu-title {
     color:#000000;
     font-size:1.5rem;
      display:inline-block;
      
      }
 
.glyphicon-circle-arrow-right {
      margin-left:10px;     
   }
  

        
.dropdown-menu.divider {
  margin:5px 0;          
  }

.item-title {
  
 font-size:1.3rem;
 color:#000;
    
}

.notifications a.content {
 text-decoration:none;
 background:rgb(255, 255, 255);

 }
    
.notification-item {
 /* padding:10px; */
 margin-right: 25px;

 /* margin-top:10px; */
 /* margin-bottom:10px; */
 background:rgb(255, 255, 255);
 border-radius:4px;
 }

/* Global Select2 Styles (Blue Theme/White Text) - Moved from topbar.blade.php */
.select2-container--default .select2-selection--single {
    border-radius: 6px !important;
    height: 34px !important;
    background: #0088eb !important;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 32px !important;
    color: blue !important;
    font-size: 14px !important;
    padding-left: 6px !important;
    transition: color 0.2s ease;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 32px !important;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-color: blue transparent transparent transparent !important;
    transition: border-color 0.2s ease;
}

.select2-container--default:hover .select2-selection--single .select2-selection__rendered {
    color: goldenrod !important;
}

.select2-container--default:hover .select2-selection--single .select2-selection__arrow b {
    border-color: goldenrod transparent transparent transparent !important;
}

/* Remove hover effect when open */
.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-color: #fff transparent transparent transparent !important;
}

.select2-container--open .select2-selection--single .select2-selection__rendered {
    color: blue !important;
}

.topbar-profile-img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid #eee;
}

.select2-dropdown {
    background: white !important;
    color: black !important;
    border: 0px solid #aaa;
    border-radius: 4px;
    box-sizing: border-box;
    display: block;
    position: absolute;
    width: 100%;
    z-index: 1051;
    font-weight: bold;
    margin-left: -4px !important;
}

.select2-results__option {
    color: black !important;
    font-weight: bold !important;
}

/* Shaking Effect */
.shaking {
    display: inline-block;
    transition: transform 0.2s ease-in-out;
}

.shaking:hover,
.action-btn-shake:hover {
    animation: shakeIcon 0.8s infinite;
}

/* Favorite button active state */
.favourite-btn.fa-heart,
.heart-icon i.fa-heart {
    color: red !important;
}

/* Shaking image on ad card hover */
.ad-listing-card:hover img {
    animation: shakeIcon 0.8s !important;
    animation-iteration-count: infinite !important;
}

/* Ad title color on hover - Logo Gold */
.ad-listing-card:hover h5,
.ad-listing-card:hover .detail span:first-child {
    color: goldenrod !important;
    transition: color 0.3s ease;
}

@keyframes shakeIcon {

    0% { transform: translateX(0); }
    25% { transform: translateX(-5px); }
    50% { transform: translateX(5px); }
    75% { transform: translateX(-5px); }
    100% { transform: translateX(0); }

}
