.input--file {
    cursor: pointer;
    position: relative;
    border: 1px solid #ced4da;
    padding: 10px;
    border-radius: 3px;
    text-align: center;
    content: "Add Pictures";
}

.input--file input[type="file"] {
    cursor: pointer;
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
}

.map {
    height: 10rem;
    width: 33rem;
    margin-left: 8rem;
    margin-top: 10px;
}

.image-gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px; /* Adjust this value to control the spacing between images */
}

.image-container {
    position: relative;
    flex: 0 0 200px; /* Set a fixed width for consistent image size */
    height: 200px; /* Set a fixed height for consistent image size */
    /* border: 1px solid #ddd; */
    border-radius: 4px;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
}

.form-image {
    width: 80%;
    height: 80%;
    object-fit: inherit; /* Display the full image without cropping */
}

.remove-img {
    position: absolute;
    top: 5px;
    right: 45px;
    /* background-color: rgba(255, 255, 255, 0.8); Adjust opacity here */
    border-radius: 50%;
    padding: 4px;
    cursor: pointer;
    color: #e74c3c;
    /* box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); */
    font-size: 18px;
}

.remove-img:hover {
    color: blue;
}
.remove-document:hover {
    color: blue;
}
